.service-card {
  background-color: #ffb400;
  padding: 3rem;
}
.bg {
  background-image: url("../../assets/images/Group\ 448.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.construction-container {
  margin: 7rem;
}
.custom-col2 {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem;
}
.custom-col1 {
  background-color: #ffb400;
  color: black;
  width: 100%;
  padding: 1rem;
}
.project-container {
  background-color: #f7f7f7;
}
.project-sub-container {
  padding: 3rem 3rem;
}
.custom-vedio {
  height: 600px;
}
@media (max-width: 991px) {
  .custom-vedio {
    height: 300px !important;
  }
}
@media (max-width: 575.98px) {
  .construction-container {
    margin: 3rem;
  }
}
