.blog-construction{
    background-image: url(../../assets/images/Rectangle\ 11\ \(10\).svg);
    background-color: #1f1f1fd9;
    background-blend-mode: color-burn;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}