.bg {
  background-image: url("../../assets/images/Group\ 448.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  background-color: #ffb400;
}
