.accordion-item {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #dadada !important;
}
.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: black !important;
  font-size: 18px;
  font-weight: bold;
}
.accordion-body {
  font-weight: lighter;
}

.accordion-header {
  color: black;
}
